footer{
    color: white;
    height:auto;
    background-color: #000;
    margin-top: 10%;
    align-items: center;
    justify-content: center;
    padding: 2%;
    box-shadow: 0px 25px 60px 15px  rgb(67, 1, 67);
    border-top: 1px solid rgb(255, 0, 255);
}
footer img{
    width: 8%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    animation: animar 3s infinite ease-in-out;


    
}
.fodase p{
    display: block;
    width: 100%;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 0.9rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 2%;

   
}
@keyframes animar {

    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(0px);
    }
    
}
