
@media(min-width: 2000px) and (max-width:2500px){
/*NAVBAR*/
header{
    padding: 1.5%;
    width: 100%;
}

nav .itens-nav{
    font-size: 1.2rem;
}
/*FIM NAV BAR */

/*CARDAPIOS*/
.card-lanche {
    transform: scale(1.3);
}
.card-lanche:hover{
    background-color: #0000008b;
    transition: 0.5s transform  cubic-bezier(1,-0.01,0,1.01) ease-in-out ;
    margin-bottom: 0%;
    transform: scale(0);
    border: 1px solid rgb(255, 0, 255);
    box-shadow: 0px 0px 10px 8px  rgb(67, 1, 67);
}

.card-drinks {
    transform: scale(1.3);

}
.card-combos {
    transform: scale(1.3);
}






.card-lanche button {
    transform: scale(1.3);
}

.card-drinks button {
    transform: scale(1.3);
}
.card-combos button{
    transform: scale(1.3);
}
/*FIM CARDAPIO*/

/*MODAL*/
.janela-modal p{
    font-size: x-large;

}
.modal ul li{
    font-size: xx-large;
    margin-left: 10%;
    margin-top: 20%;
    
}
.modal ul .texto{
    font-size: xx-large;
    margin-left: 10%;
    margin-top: 40%;
    
}

}
/*FIM MODAL*/

/*SOBRE NOS*/

.sobre-nos .sobre{
    margin-top: auto;
    margin-bottom: auto;
    
}
.sobre-nos .titulo-sobre{
    font-size: 3rem;
}
.sobre-nos p{
    font-size: 1.5rem;
    line-height: 2.0rem;
}

/*CONTATOS*/
.contato{
    transform: scale(1.3);
}
.titulo-contato{
    font-size: 3rem;
    margin-top: 50%;
}