
@media(min-width: 2000px) and (max-width:2500px){
/*NAVBAR*/
header{
    padding: 1.5%;
}

header img{
    transform: scale(2.0);

    
}
nav .itens-nav{
    font-size: x-large;
}
/*FIM NAV BAR */

/*CARDAPIOS*/
.cardapio{
    transform: scale(1.3);
    margin-top: 30%;
}
/*FIM CARDAPIO*/

/*MODAL*/
.janela-modal p{
    font-size: x-large;

}
.modal ul li{
    font-size: xx-large;
    margin-left: 10%;
    margin-top: 20%;
    
}
.modal ul .texto{
    font-size: xx-large;
    margin-left: 10%;
    margin-top: 40%;
    
}
.modal h3{
    font-size: xx-large;
}
}
/*FIM MODAL*/

/*SOBRE NOS*/

.sobre-nos .sobre{
    margin-top: auto;
    margin-bottom: auto;
    
}
.sobre-nos{
height: 50rem;

    
}
.sobre-nos .titulo-sobre{
    font-size: 3rem;
}
.sobre-nos p{
    font-size: 1.5rem;
    line-height: 2.0rem;
}

/*CONTATOS*/
.contato{
    transform: scale(1.3);
}
.titulo-contato{
    font-size: 3rem;
    margin-top: 50%;
}