header{
    background-color: #000;
    position: fixed;
    width: 100%;
    z-index: 5;
    padding: 0.1%;
    
}
header img{
    margin-left: 3%;
    color: white;
    width: 8%;
}
nav{
    justify-content: end;
    display: flex;
}
.itens-nav{
    margin-left: 1%;
    margin-top: 1%;
    margin-right: 3%;
    text-decoration: none;
    font-style: normal;
    color:white ;
    margin-top: -60px;
    font-size: 1.0rem;
}